body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: navy;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 40px;
}

.logo {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

