small.hint {
    font-size: 12px;
    color: #777;
    margin: 5px 0 10px;
    display: block;
}

.terms {
    display: flex;
    align-items: flex-start;
    font-size: 13px;
    margin: 15px 0;
}

.terms input {
    margin-right: 8px;
    margin-top: 3px;
}

.terms a {
    color: #e44d26;
    text-decoration: none;
}
