body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #000;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    gap: 20px;
}

.warning-alarm{
    background-color: #F7C1C2;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 10px;
    color: #A73049;
}

.warning-alarm i{
    font-size: 24px;
    animation: blink 1s infinite;
}
.warning-alarm p{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.hero-container h1{
    font-size: 45px;
    margin-bottom: 10px;
    color: navy;
}
.hero-container span{
    color: #A73049;
    font-weight: bold;
}

.hero-content p {
    color: #000;
    font-size: 18px;
    
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
.hero-buttons {
    margin-top: 20px;
    display: flex;
    gap: 40px;
}
.cta-button {
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
.cta-button.report {
    background-color: #A73049;
    color: white;
}
.cta-button.report:hover {
    background-color: #861F36;

}
.cta-button.learn-more {
    background-color: #F7C1C2;
    color: #A73049;
}
.cta-button.learn-more:hover {
    background-color: #A73049;
    color: white;
}
.hero-active {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.free-access {
    color: #000;
    padding: 10px 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.free-access i {
    font-size: 18px;
    background-color: #48CE6A;
    padding: 5px;
    color: white;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .hero-container {
        height: auto;
        padding: 40px 20px;
    }

    .hero-container h1 {
        font-size: 32px;
    }

    .hero-content p {
        font-size: 16px;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 20px;
    }
    .hero-active {
        flex-direction: column;
        gap: 5px;
    }
}